<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="https://unpkg.com/nodefony-client@6.0.0-beta.4/dist/nodefony.js?medias&socket&webaudio"></script>
    {% endblock %}
  </body>
</html>
