<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {% block body %}{% endblock %}
    {% block javascript %}
    <script type="text/javascript" src="/nodefony/nodefony.js?medias=true&socket=true"></script>
    {% endblock %}
  </body>
</html>
